body 
{
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
    background: rgb(24, 22, 22)!important;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.masthead {
    background: inherit;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #171718a1;
    padding-top: 10px;
}

.card{
    box-shadow: 0 16px 48px #19191a;
    background: #333!important;
    color: #fff!important;
    width: 70%;
}

